<a href="{% url 'index' %}">Back</a>
<br />
<br />
<form method="POST"> {% csrf_token %}
    <label for="first_name">First name: </label>
    <input id="first_name" type="text" name="first_name" value="{{ first_name }}"></input>
    <br/>
    <br />
    <label for="last_name">Last name:</label>
    <input id="last_name" type="text" name="last_name" value="{{last_name}}"></input>
    <br />
    <br />
    <label for="office">Office:</label>
    <input id="office" type="text" name="office" value="{{office}}"></input>
    <br />
    <br />
    <label for="department">Department:</label>
    <input id="department" type="text" name="department" value="{{department}}"></input>
    <br/>
    <br />
    <input type="submit" value="OK"></input>
</form>